In [5]:
# While loop
def prime_factorization(number):
    index = 2
    while number > 1:
        while number % index == 0:
            number /= index
            print(str(index), end = " ")
        index += 1

number = 62738
prime_factorization(number)

2 13 19 127

In [ ]:
# Make a loop runs forever
while True:
    do_something()

In [12]:
# For loop
# A range of numbers will start with the number 0 by default
for x in range(5):
    print(x)

0
1
2
3
4

In [9]:
letters = ["a", "b", "c", "d"]
for letter in letters:
    print (letter)

a
b
c
d

In [11]:
values = [23, 16, 76, 34, 88, 23]
sum = 0
for value in values:
    sum += value
print(sum)

260

In [13]:
values = [23, 16, 76, 34, 88, 23]
sum = 0
for value in values:
    sum += value**2
print(sum)

15990

In [14]:
sum = 0
for n in range(1, 10): # The loop will terminate when n reaches 9
    sum += n ** 2
print(sum)

285

In [17]:
def sqrt(n):
    return n ** 0.5

for i in range(0, 101, 10): # Starts at 0, ends at 100 and goes at a step = 10
    print(i, sqrt(i))

0 0.0
10 3.1622776601683795
20 4.47213595499958
30 5.477225575051661
40 6.324555320336759
50 7.0710678118654755
60 7.745966692414834
70 8.366600265340756
80 8.94427190999916
90 9.486832980505138
100 10.0

In [1]:
teams = ["team1", "team2", "team3"]
for a in teams:
    for b in teams:
        if a != b:
            print(a + " vs " + b)

team1 vs team2
team1 vs team3
team2 vs team1
team2 vs team3
team3 vs team1
team3 vs team2

In [ ]:
# Syntax
for i in range(a) # from 0 to a - 1
for i in range(a, b) # from a to b - 1

In [4]:
for i in range(1, 7):
    for j in range(i, 7):
        print("[" + str(i) + "|" + str(j) + "]", end = " ")
    print()

[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [5]:
greet = "hello"
for c in greet:
    print(c)

h
e
l
l
o

In [5]:
def is_prime(number):
    check = True
    p = 2
    while p * p <= number:
        if number % p == 0:
            check = False
        p += 1
    if check == True:
        print(str(number) + " is a prime number.")
    else:
        print(str(number) + " is not a prime number.")
is_prime(23)

23 is a prime number.